body{
      background-color: darksalmon;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
      
}  
  h1{
color: rgb(79, 135, 119) 
} 

h2{
 color: rgb(150, 150, 16)
}

button {
 color: rgb(255, 174, 219)
}

